specification/*.aux
specification/*.log
specification/*.toc
specification/*.pdf
specification/*.out
specification/*.synctex.gz
specification/spec.dvi
specification/spec.glg
specification/spec.glo
specification/spec.gls
specification/spec.idx
specification/spec.ilg
specification/spec.ind
specification/spec.xdy
specification/spec.xwm
